<h1>Cadastro de Inseminador</h1>
<md-input-container>
  <input mdInput type="text" placeholder="Nome">
</md-input-container>
<md-input-container>
  <input mdInput type="text" placeholder="CPF">
</md-input-container>
<md-input-container>
  <input mdInput type="text" placeholder="RG">
</md-input-container>
<label for="">Sexo:</label>
<md-radio-group>
  <md-radio-button value="m">Masculino</md-radio-button>
  <md-radio-button value="f">Feminino</md-radio-button>
</md-radio-group>
<button>Cadastrar</button>
<button>Cancelar</button>