<h1>Cadastro de Rebanhos</h1>
<md-input-container>
  <input mdInput type="text" placeholder="Nome do rebanho">
</md-input-container>
<table>
  <thead>
    <tr>
      <td>
        <input type="checkbox">
      </td>
      <td>Brinco</td>
      <td>Raça</td>
      <td>Sexo</td>
      <td>Nascimento</td>
      <td>Observações</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="checkbox">
      </td>
      <td>123</td>
      <td>Jersey</td>
      <td>Feminino</td>
      <td>01/01/2016</td>
      <td></td>
    </tr>    
  </tbody>
</table>
<button>Salvar</button>
<button>Cancelar</button>